body{
    background-color: #DAF5F6;
    color: #010718;
    font-size: 32px;
    font-family:cursive;
}

a{
    font-size: 28px;
    color: #70AA2A;
}

a:hover{
    color: #7F670A ;
}

th[colspan="3"]{
    color: #010718;
    font-size: 40px;
    font-style: italic ;
    text-align: center;
    border: unset;
}

img{
    width: 102px;
    height: 102px;
    max-width: 100%;
    border: #010718 5px solid;
    border-radius: 50% 50% 50% 50%;
    margin-inline: 0px;
}

tr>*:nth-child(2){
    text-align: center;
    padding-left: 30px;
}

tr>*:nth-child(3){
    text-align: right;
}

table{
    margin: auto;
    width: 1200px;
    text-align: right;
    margin-top: 3%;
    background-color: #70AA2A;
    border: #458022 3px solid;
    border-radius: 15px;
    padding-inline: 30px;
    padding-block: 15px;
}

input{
    padding-inline: 5px;
    background-color: #DAF5F6;
    border : solid 1px #010718;
    border-radius: 3px;
    font-size: 15px;
    height: 30px;
}

input[type="submit"]{
    background-color: #70AA2A;
    font-size: 35px;
    border: solid #010718;
    height: fit-content;
    padding-inline: 8px;
    padding-block: 5px;
    border-radius: 20px;
}

input[type="submit"]:hover{
    font-weight: bold;
    color: #DAF5F6;
    background-color: #7F670A;
    border: solid 2px #DAF5F6;
    padding-inline: 5px;
    padding-block: 6px;
}