body{
    background-color: #DAF5F6;
    padding-top: 100px;
    padding-left: 30%;
    font-size: 20px;
}

legend{
    background-color: #458022;
    border: solid 1px #010718;
    border-radius: 15px;
    text-align: center;
    padding-inline: 5px;
    font-size: 30px;
    font-weight: bold;
}

fieldset{
    background-color: #458022;
    border-color: #010718;
    display: grid;
    grid-template-columns: fit-content(80%);
    column-gap: 10px;
    row-gap: 5px;
    border-radius: 30px;
    padding-inline: 30px;
    padding-block: 25px;

}

div.div1{
    text-align: right;
    grid-column: 1;
}

div.div2{
    
    grid-column: 2;
}

div.div3{
    grid-column: 3;
    font-size: 15px;
    padding-top: 13px;
}

div.div4{
    grid-column: 1;
    column-span: 2;
    padding-inline: 100%;
    padding-top: 15px;
}


input{
    padding-inline: 5px;
    background-color: #DAF5F6;
    border : solid 1px #010718;
    border-radius: 3px;
    font-size: 15px;
    height: 25px;
}

input[type="submit"]{
    background-color: #70AA2A;
    font-size: 30px;
    border: solid #010718;
    height: fit-content;
    padding-inline: 8px;
    padding-block: 5px;
    border-radius: 20px;
}

input[type="submit"]:hover{
    font-size: 150%;
    color: #DAF5F6;
    background-color: #7F670A;
    border: solid #DAF5F6;
}